    {% extends 'blog/base.html' %}

    {% block content %}
        {% for post in posts %}
        <br>
        <br>
        <div class="post" style="background-color:ffffff;">
            <img src="{{ post.image.url }}" class="img" alt="Obrazek" width="100px"><br>
            <div class="data">
            <p>opublikowany: {{ post.published_date }}</p>
            </div><h2><b><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></b></h2>
        <br/>
            <em>{{ post.text|linebreaksbr }}</em><br/>
        </div>
        {% endfor %}
    {% endblock %}